<div class="container app">
    <div class="row">
      <div class="col-sm-8">
        <h1> {{title}}  </h1>
      </div>
      <div class="col-sm-4">
        <div class="alert alert-success alert-dismissable" *ngIf="msg">
          <a class="close" (click)="closeAlert()">
            &times;
          </a>
          {{msg}}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8">
        <h2>Crear producto</h2>
        <br>
        <form class="form-horizontal">
          <div class="form-group">
            <label for="id" class="control-label col-sm-2"> ID </label>
            <div class="col-sm-10">
              <input type="number" class="form-control" id="id" name="id" [(ngModel)]="model.id" placeholder="Enter ID ">
            </div>
          </div>
  
  
          <div class="form-group">
            <label for="nombre" class="control-label col-sm-2"> Nombre </label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="model.nombre" placeholder="Ingrese el nombre ">
            </div>
          </div>
  
          <div class="form-group">
            <label for="descripcion" class="control-label col-sm-2"> Descripción </label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="descripcion" name="descripcion" [(ngModel)]="model.descripcion" placeholder="Ingrese la descripcion ">
            </div>
          </div>
  
          <div class="form-group">
            <label for="fecha_venc" class="control-label col-sm-2"> Ingrese la fecha de vencimiento  </label>
            <div class="col-sm-10">
              <input type="date" class="form-control" id="fecha_venc" name="fecha_vec" [(ngModel)]="model.fecha_venc" placeholder="Ingrese la fecha de vencimiento">
            </div>
          </div>
  
          <div class="form-group">
            <label for="id_proveedor" class="control-label col-sm-2"> ID del proveedor  </label>
            <div class="col-sm-10">
              <input type="number" class="form-control" id="id_proveedor" name="id_proveedor" [(ngModel)]="model.id_proveedor" placeholder="Ingrese el ID del proveedor">
            </div>
          </div>
  
          <div class="form-group">
            <div class="col-sm-10 col-sm-offline-2">
              <button type="submit" class="btn btn-success" (click)="addProduct()">
                Agregar
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8">
        <h2>Productos almacenados</h2>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Descripción</th>
              <th>Fecha vencimiento</th>
              <th>ID proveedor</th>
            </tr>
          </thead>
  
          <tbody>
            <tr *ngFor="let product of products; let i = index">
              <td> {{product.id}} </td>
              <td> {{product.nombre}} </td>
              <td> {{product.descripcion}} </td>
              <td> {{product.fecha_venc}} </td>
              <td> {{product.id_proveedor}} </td>
              <a (click)="editProduct(i)" style="margin-right: 5px" class="btn btn-warning"> Editar </a>
              <a (click)="deleteProduct(i)" class="btn btn-danger"> 
                Eliminar
              </a>
            </tr>
          </tbody>
  
        </table>
      </div>
    </div>
  
    <div class="col-sm-8" [hidden]="hideUpdate">
      <h2>Actualizar producto</h2>
      <br>
      <form class="form-horizontal">
        <div class="form-group">
          <label for="id" class="control-label col-sm-2"> ID </label>
          <div class="col-sm-10">
            <input type="number" class="form-control" id="id" name="id" [(ngModel)]="model2.id" placeholder="Ingrese el nuevo ID ">
          </div>
        </div>
  
  
        <div class="form-group">
          <label for="nombre" class="control-label col-sm-2"> Nombre </label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="model2.nombre" placeholder="Ingrese el nuevo nombre ">
          </div>
        </div>
  
        <div class="form-group">
          <label for="descripcion" class="control-label col-sm-2"> Descripcion </label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="descripcion" name="descripcion" [(ngModel)]="model2.descripcion" placeholder="Ingrese la nueva descripcion ">
          </div>
        </div>
  
        <div class="form-group">
          <label for="fecha_venc" class="control-label col-sm-2"> Ingrese la fecha de vencimiento  </label>
          <div class="col-sm-10">
            <input type="date" class="form-control" id="fecha_venc" name="fecha_vec" [(ngModel)]="model2.fecha_venc" placeholder="Ingrese la nueva fecha de vencimiento (15/02/2020)">
          </div>
        </div>
  
        <div class="form-group">
          <label for="id_proveedor" class="control-label col-sm-2"> ID del proveedor  </label>
          <div class="col-sm-10">
            <input type="number" class="form-control" id="id_proveedor" name="id_proveedor" [(ngModel)]="model2.id_proveedor" placeholder="Ingrese el nuevo ID del proveedor">
          </div>
        </div>
  
        <div class="form-group">
          <div class="col-sm-10 col-sm-offline-2">
            <button type="submit" class="btn btn-success" (click)="updateProduct()">
              Actualizar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>